.post-btn {
  width: 70px;
  height: 70px;
  background: #8aec8c;
  text-align: center;
  border-radius: 100%;
  bottom: 130px;
  right: 20px;
  position: fixed;
  padding: 10px;
  text-decoration: none;
  padding-top: 20px;
  border: solid 1px #087b0a;
}

.post-btn:hover {
  background-color: #087b0a;
}



.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;

  margin-bottom: 5px;
}

.post-btn-icon {
  width: 80%;
  margin-top: 20px;
}

