* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.article-main {
  background: #d3d3d3;
  width: calc(100vw - 120px);
  padding-top: 0;
}

/* 商品一覧 */

.article-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  margin: 20px;
}

.article-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.article-lists {
 
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.article-lists>.list {
  width: 50vh;
  padding: 1vw;
  background-color: #FFF;
}


.article-img-content {
  position: relative;
}

.article-img {
  width: 44vh;
  height: 33vh;
  border-radius: 5%;
}

.article-info {
  background-color: #FFF;
  color: #818181;
  padding: 1vw;
}

.article-info:hover {
  color: black;
}

.article-name {
  font-size: 15px;
  text-align: center;
}

/* //商品一覧 */