.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.index-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: #d3d3d3;
}



.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}