.article-new-main {
  width: calc(100vw - 120px);
  margin-top: 64px;
  margin-left: 120px;
  flex-direction: row;
  flex-grow: 1;
  background-color: #ebeced;
}
.article-new-form-wrapper {
  margin: auto;
}
.new{
  width: 100%;
  margin: auto;
}
 
form {
  margin: auto;
}
.post__field{
  margin-bottom: 40px;
}
 
.article-user-previews,
.article.img,
.article-image{
  display: block;
  max-width: 500px;
  height: 200px;
  border-radius: 10px;
}
 
.post__field label{
  color: #818181;
  font-size: 16px;
  margin-bottom: 20px;
}
 
.form__title{
  width: 500px;
  font-size: 17px;
}

.form__text{
  height: 200px;
  font-size: 17px;
}
 
.form__text::placeholder,
.form__tag::placeholder{
  color: #aaaaaa;
  font-size: 14px;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
 