/* ヘッダー
---------------------------------------------- */

.header{
  width: 100%;
}

.inner{
  width: 100%; 
  height: 75px;
  margin: 20px 0;
}

.nav{
  width: 100%; 
  height: 75px;
  display: flex;
  justify-content : space-between ;
  align-items : center ;
  padding: 40px;
}

.nav__left{
  width: 30%;
  }

.logo__pc{
  width: 20vw;
  height: 15vh;
  display: block;
}

.logo__mobile{
   display: none;
}

.nav__btn,
.nav__btn2{
 margin-right: 20px;
 background-color: #ebeced;
 color: #818181;
 font-weight: bold;
 font-size: 17px;
 padding: 20px 20px;
 border-radius: 5px;
}

.nav__btn:hover{
  background-color: #84ceeb;
  color: #FFF;
}

.nav__btn2:hover{
  background-color: #84b8eb;
  color: #FFF;
}

.nav__right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__user__name{
  width: auto;
  height: 75px;
  color: #818181;
  font-size: 17px;
  line-height: 75px;
  margin-right: 15px;
}

.header__user__img{
  width: 75px;
  height: 75px;
  border: 1px solid #aaaaaa;
  border-radius: 100%;
  object-fit: cover;
  padding: 3px;
}

.nav__mobile{
  display: none;
}

.nav__pc{
  display: block;
}

.nav__frame {
  font-size: 18px;
  line-height: 300%;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  position: relative;
  color: #818181;
  border: solid 2px #84ceeb;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.nav__frame:before {
  background-color: #C0E4F2;
  border-radius: 5px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: -1;
  border-radius: 10px;
}

.show-lists{
  position: absolute;
  top: 90px;
  right: 40px;

  width: 210px;
  margin-top: 20px;
  background-color: #FFFAB3;
  border-radius: 10px;
  padding: 20px;
}

.pull-down-list{
  width: 80%;
  text-align: center;
  border-bottom: 3px solid #FFF;
  margin: auto;
  margin-bottom: 5px;
}

.pulldown__text{
  color: #73735a;
  font-size: 17px;
  font-weight: bold;
  display: block;
}

.pulldown__text:hover{
  color: #FFF;
  background-color: #84b8eb;
  border-radius: 5px;
}

.hidden{
  display: none;
  position : fixed ;
  z-index : 10;
}
