.sidebar {
  width: 120px;
  border-right: solid 2px #087b0a ;
  position: sticky;
  top: 64px;
  z-index: 999;
  float: none;
  background-color: #d3d3d3;
  height: calc(100vh - 64px);
}

.sidebar-main {
  height: 100%;
}

.sidebar-menu {
  height: 100%;
  text-align: center;
}

.sidebar-user-name-box,
.sidebar-user-room-box,
.sidebar-user-list-box,
.sidebar-user-star-box,
.sidebar-user-edit-box {
  height: 110px;
  padding-top: 5px;
  border-radius: 5%;
}

.sidebar-user-name-box:hover,
.sidebar-user-room-box:hover,
.sidebar-user-list-box:hover,
.sidebar-user-star-box:hover,
.sidebar-user-edit-box:hover {
  background-color: #ebeced;
}

#user-name-image {
  width: 58px;
  height: 58px;
  margin: 0 30px 0 30px;
  border: 1px solid #aaaaaa;
  border-radius: 100%;
  object-fit: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.user-room-image,
.user-login-image,
.user-list-image,
.user-star-image,
.user-edit-image {
  height: 58px;
  margin: 0 30px 0 30px;
  border: 1px solid #aaaaaa;
  border-radius: 100%;
  text-align: center;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-name-image:hover,
.user-room-image:hover,
.user-login-image:hover,
.user-list-image:hover,
.user-star-image:hover,
.user-edit-image:hover {
  background-color: #FFF;
}

.icon-b:hover {
  background-color: #ebeced;
  border-radius: 5%;
}

.sidebar-user-room,
.sidebar-user-login,
.sidebar-user-list,
.sidebar-user-star,
.sidebar-user-edit,
.sidebar-user-name {
  height: 30px;
  color: #818181;
  font-size: 15px;
  line-height: 30px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.sidebar-user-room:hover,
.sidebar-user-login:hover,
.sidebar-user-list:hover,
.sidebar-user-star:hover,
.sidebar-user-edit:hover,
.sidebar-user-name:hover {
  background-color: #ebeced;
}

