<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    
    <%= link_to image_tag("logo.png", class:"second-fotter-logo"), "/" %>
    <p class='second-fotter-text'>© Littele Garden</p>
  </div>
</footer>