* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: #d3d3d3;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: solid 1px #00a400;
  background-color: #FFF;
  border-radius: 100%;
}

.icon-back {
  border-radius: 100%;
  border: solid 1px #00a400;
  background-color: #FFF;
}

.icon-back:hover {
  background-color: #00a400;
}