
   <ul class="category-lists" id="categories">
      <% @articles.each do |article| %>
        <li class="category-list">
          <%= article.article_name %>
        </li>
      <% end %>
    </ul>
    