.login-btn {
  width: 30%;
  margin: 0 auto;
}

.login-green-btn {
  width: 100%;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #00a400;
  border-radius: 5px;
  cursor: pointer;
}

.login-green-btn:hover {
  color: #d3d3d3;
}

.login-flash-message {
  text-align: center;
  color: red;
}

hr {
  height: 1px;
  width: 170px;
}

.signup-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.signup-info label {
  color: #818181;
  font-size: 15px;
}