.login-btn {
  width: 30%;
  margin: 0 auto;
}

.login-green-btn {
  width: 100%;
  text-align: center;
  border: none;
  background-color: #818181;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
}

.login-green-btn:hover {
  background-color: #087b0a;
}

.login-flash-message {
  text-align: center;
  color: red;
}