.user-form-main {
  margin: auto;
  width: 50%;
  background-color: #fff;border: solid 1px #00a400;
  border-radius: 10px;
}

.user-form-wrap {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.user-signup-wrap {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.user-form-header {
  margin-bottom: 30px;
}

.user-form-header-text {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #565656;
  border-bottom: 2px solid #00a400;
}

.user-form-group{
  width: 90%;
  margin: 0 auto 30px;
}

.user-form-text-wrap {

}

.user-form-text{

}

.indispensable {
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

.input-default,
.form-text{

}

.user-image,
#user-img,
.default-image,
#default-image,
.preview-image,
#prev-img{
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid #00a400;
  border-radius: 100%;
  object-fit: cover;
  margin: 10px auto;
}

.input-default,
textarea{
  width: 100%;
  border: 1.5px solid #d3d3d3;
  border-radius: 10px;
  display: block;
  margin: auto;
  outline-color: #00a400;
}

textarea{
  height: 100px;
}

input{
  padding: 5px;
  font-size: 15px;
}

#user-image {
  color: #818181;
  font-size: 15px;
}

.user-form-group label{
  color: #818181;
  font-size: 15px;
}

.register-btn{
  width: 30%;
  margin: 0 auto;
}

.register-blue-btn{
  width: 100%;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #1877f2;
  border-radius: 10px;
  cursor: pointer;
}

.register-blue-btn:hover {
  color: #d3d3d3;
}

/* 編集機能でのみ使用 */
.account-delete{
  margin: 30px 30px 15px 30px;
}

.delete-attention {

}

.delete-attention label {
  color: #818181;
  font-size: 15px;
}

.delete-btn {
  width: 30%;
  margin: 0 auto;
}

.delete-red-btn {
  width: 100%;
  text-align: center;
  border: none;
  color: #fff;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
}

.delete-green-btn:hover {
  color: #d3d3d3;
}

/* 編集機能でのみ使用 */
.login-attention {
  width: 100%;
  margin: 50px auto;
  font-size: 15px;
  color: #565656;
}

.info-text {
  color: #818181;
  font-size: 15px;
  margin-top: 3px;
}
