









.user-icon{
  display: block;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 5px;

  border-radius: 100%;
}

.user-icon:hover{
  margin: 5px 0 0 0;
}

.profile-user-follows{
  width: 100%;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 20px;
}

.profile-favorite{
  height: 30px;
  line-height: 13px;
  text-align: center;
  background-color: #00a400;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 8px 1px 0 #529ae2;
}

.profile-favorite:hover{
  margin: 4px 1px 8px 0;
  box-shadow: 4px 8px 0 0 #FFF;
}

.profile-user-profile{
  margin-top: 30px;
}

.profile-user-prof{
  font-size: 15px;
  padding: 1em;
  background-color: #fff; /* 背景色 */
  border: 1px solid #00a400; /*線の太さ・色*/
  border-radius: 10px;
}



